<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Pokemon</title>
</head>
<body>
    <h1>Add a New Pokémon</h1>
    <form method="POST" action="/pokemon">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>

      <label for="img">Image URL:</label>
      <input type="text" id="img" name="img" required>
      <br>

      <label for="type">Type:</label>
      <input type="text" id="type" name="type" required>
      <br>

      <label for="hp">HP:</label>
      <input type="text" id="hp" name="hp" required>
      <br>

      <label for="attack">Attack:</label>
      <input type="text" id="attack" name="attack" required>
      <br>

      <label for="defense">Defense:</label>
      <input type="text" id="defense" name="defense" required>
      <br>
      <button type="submit">Add Pokémon</button>
    </form>
  </body>
</html>